import ZtqDc{{properCase name}} from '../src/{{name}}.vue'

export default {
title: 'ZtqDc{{properCase name}}',
component: ZtqDc{{properCase name}}
}

export const {{properCase name}} = _ => ({
data(){
return{}
}
components: { ZtqDc{{properCase name}} },
template: `
<div>
  <ztq-dc-{{name}}></ztq-dc-{{name}}>
</div>
`
})